build/
target/
*.swp
.idea/
.DS_Store
*.iml
.classpath
.settings/
.project
WebContent/
flaws.json
.vscode/settings.json
.m2
dist
.bash_history
.bashrc
veracode-pipeline-scan-results.json
veracode-sca-results.json
